/* .outlined {
	font-family: "Bungee Outline", cursive;
} */

/* .bg-cg {
	background-image: url("../assets/summercamp-12.png");
} */

@keyframes noise {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, 5%);
	}
	30% {
		transform: translate(7%, -25%);
	}
	40% {
		transform: translate(-5%, 25%);
	}
	50% {
		transform: translate(-15%, 10%);
	}
	60% {
		transform: translate(15%, 0%);
	}
	70% {
		transform: translate(0%, 15%);
	}
	80% {
		transform: translate(3%, 35%);
	}
	90% {
		transform: translate(-10%, 10%);
	}
}

@font-face {
	font-family: codicon;
	font-display: block;
	src: url(codicon.ttf?c8db4d929c275be999e86c624427a6af) format("truetype");
}
.codicon[class*="codicon-"] {
	font: normal normal normal 16px/1 codicon;
	display: inline-block;
	text-decoration: none;
	text-rendering: auto;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
